<div class="home" *ngIf="mostraHome">
    <div class="container-fluid">
        <h1 class="text-center pt-2">JOHTO:</h1>
    </div>
    <div class="row riga">
        <div class="col-lg-10 col-*-12">
            <p class="text-center p1">E' la seconda regione ad essere introdotta nella serie. Si colloca a ovest di <span class="kanto">Kanto</span>, a nord di <span class="hoenn">Hoenn</span> e a sud di <span class="sinnoh">Sinnoh</span>. <span class="johto">Johto</span> e' separata da <span class="kanto">Kanto</span> dal Monte Argento e le due regioni sono collegate naturalmente solo dall'impervio passaggio delle Cascate Tohjo.</p>
        </div>
    </div>
    
    <div class="section2 pt-5">
        <div class="row riga1 pb-4">
            <div class="col-lg-4 col-*-12 pkmn d-flex flex-column">
                <img title="Chikorita" src="../../assets/img/Chicorita.png" class="img-fluid img pb-4">
                <button (click)="apriChikorita($event)" class="btn" role="button" style="border: 3px solid {{colorb1}}"><h3 class="chik" style="color: {{color1}};">{{name1}}</h3></button>
            </div>
            <div class="col-lg-4 col-*-12 pkmn d-flex flex-column">
                <img title="Cyndaquil" src="../../assets/img/Cyndaquil.png" class="img-fluid imgC pb-4">
                <button (click)="apriCyndaquil($event)" class="btn" role="button" style="border: 3px solid {{colorb2}}"><h3 class="cynd" style="color: {{color2}};">{{name2}}</h3></button>
            </div>
            <div class="col-lg-4 col-*-12 pkmn d-flex flex-column">
                <img title="Totodile" src="../../assets/img/Totodile.png" class="img-fluid img pb-5">
                <button (click)="apriTotodile($event)" class="btn" role="button" style="border: 3px solid {{colorb3}}"><h3 class="totod" style="color: {{color3}};">{{name3}}</h3></button>
            </div>
        </div>
    </div>
</div>
<div class="Chikorita" *ngIf="mostraChikorita">
    <app-chikorita (tornaHome)="mostraHome = true; mostraChikorita = false"></app-chikorita>
</div>
<div class="Cyndaquil" *ngIf="mostraCyndaquil">
    <app-cyndaquil></app-cyndaquil>
</div>
<div class="Totodile" *ngIf="mostraTotodile">
    <app-totodile></app-totodile>
</div>
