<div class="chikorita pt-5" *ngIf="mostraChikorita">
    <div class="container-fluid section">
        <div class="row">
            <div class="col-lg-6 col-*-12 colon d-flex flex-column">
                <div class="divimg">
                    <img [src]="image" class="img-fluid image">
                </div>
                <div class="divimg pt-3">
                    <img src="../../assets/img/tipoE.png" class="img-fluid image1">
                </div>
            </div>
            <div class="col-lg-5 col-*-12 colon d-flex flex-column">
                <h1>{{nome}}</h1>
                <p>peso: {{peso}}</p>
                <p>altezza: {{altezza}}</p>
                <p>N nel Pokedex: {{npokedex}}</p>
                <p>{{descrizione}}</p>
            </div>
            <div class="col-lg-1 col-*-12"></div>
        </div>
    </div>
    <div class="divdivider pt-5" style="display: flex; justify-content: center;">
        <mat-divider style="width: 80%; border: 3px solid #C80408; border-radius: 10px;"></mat-divider>
    </div>
    <div class="container-fluid text-center pt-4">
        <h1>DOVE POSSO TROVARLO?</h1>
    </div>
    <div class="divbtnBack container-fluid pt-3 pb-3">
        <button (click)="tornaAllaHome()" style="background-color: #C80408;" mat-fab aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
    </div>
</div>