@font-face {
    font-family: Gameboy;
    src: url("../../assets/fonts/Early\ GameBoy.ttf") format("truetype");
}
h1 {
    font-family: Gameboy;
    color: #6EBC54;
}
p {
    font-family: Gameboy;
}
.image {
    width: 40%;
}
.image1 {
    width: 20%;
}
.divimg {
    display: flex;
    justify-content: center;
}
.section {
    display: flex;
    justify-content: center;
}
.colon {
    display: flex;
    justify-content: center;
}
